*.o
*.lo
*.la
*.log
.deps
.libs
*~
encdet-*.tar.gz
stamp-h1
Makefile
Makefile.in
aclocal.m4
autom4te*.cache
config.status
config/*
configure
libtool
man/encdet.3
src/config.h
src/config.h.in
test/encdet
